[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"

[packages]
nameko = "*"
nameko-sqlalchemy = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
mtcnn = "*"
numpy = "*"
opencv-python = "*"
tensorflow = "*"
requests = "*"
marshmallow = "*"

[requires]
python_version = "3.6"
